.loginForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 950px;
  grid-gap: 25px;
  grid-template-areas:
    "leftSide form form form"
    "leftSide form form form";
  background-color: aliceblue;
}

.leftSide {
  grid-area: leftSide;
  background-color: rgb(126, 126, 228);
  color: aliceblue;
  font-size: 40px;
}

.form {
  grid-area: form;
  padding-top: 20px;
}

label {
  position: relative;
  font-size: 16px;
  padding-top: 30px;
  margin-bottom: 5px;
}
input {
  border: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  width: 40%;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  background: linear-gradient(90deg, rgb(126, 126, 228), rgb(126, 126, 228))
      center bottom/0 2px no-repeat,
    linear-gradient(90deg, #8b8b8b, #8b8b8b) center bottom/100% 2px no-repeat,
    linear-gradient(90deg, aliceblue, aliceblue) left bottom/100% 2px no-repeat;
  transition: background-size 5s ease;
}

#dep {
  position: absolute;
  left: 1px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(7, 7, 7);
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

input:valid,
input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

input:valid + #dep,
input:focus + #dep {
  top: 10px;
  font-size: 14px;
  color: rgb(7, 7, 7);
}

#loginBtn {
  font-size: 14px;
  font: bold;
  text-decoration: none;
  background-color: rgb(67, 207, 62);
  color: aliceblue;
  padding: 8px 30px 8px 30px;
  outline: none;
  margin-top: 30px;
  border: rgb(67, 207, 62);
  opacity: 0.8;
  float: center;
  margin-bottom: 10px;
  cursor: pointer;
}

#loginBtn:hover {
  opacity: 1;
}
